{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Order Confirmation</h1>
    <p>Your order has been placed successfully!</p>
    <p>Total Cost: LKR {{ order.total_cost }}</p>
    <p>Payment Method: {{ order.get_payment_method_display }}</p>

    <h2>Order Details:</h2>
    <ul>
        {% for order_item in order.order_items.all %}
            <li>{{ order_item.item.name }} - Quantity: {{ order_item.quantity }} - Price: LKR {{ order_item.price_at_purchase }}</li>
        {% endfor %}
    </ul>

    <p>Thank you for shopping with us!</p>
</div>
{% endblock %}
